header {
  nav {
    ul {
      li {
        a {
          @apply duration-300 text-white hover:text-yellow text-lg font-medium;
        }
      }
      @media (max-width: 860px) {
        @apply bg-primary z-50 absolute top-full left-0 w-full items-center justify-center  flex-col h-0 overflow-hidden;
        li {
          @apply translate-y-16 opacity-0 duration-300;
          transition-delay: calc(var(--d) * 0.1s);
        }
        &.active {
          height: calc(100vh - 90px);
          li {
            @apply translate-y-0 opacity-100;
          }
        }
      }
    }
  }
  button {
    @media (max-width: 860px) {
      @apply ml-auto mr-2;
    }
  }
  .menu-icon {
    @media (min-width: 861px) {
      @apply hidden;
    }
    span {
      @apply w-full h-1 rounded-full bg-white block duration-300;
      &:nth-child(2) {
        @apply w-2/3;
      }
      &:nth-child(3) {
        @apply w-1/3;
      }
    }
    &:hover {
      span {
        &:nth-child(3) {
          @apply w-4/5;
        }
      }
    }
    &.active {
      @apply gap-0 justify-center;
      span {
        width: 100% !important;

        &:nth-child(1) {
          transform: translateY(50%) rotate(135deg);
        }
        &:nth-child(2) {
          @apply hidden;
        }
        &:nth-child(3) {
          transform: translateY(-50%) rotate(-135deg);
        }
      }
    }
  }
}
#landing {
  .container {
    min-height: calc(100vh - 100px);
  }
}
#services {
  background: url("../assets/bg-1.svg") no-repeat;
  background-size: contain;
}
#contact {
  form {
    input,
    textarea {
      @apply md:w-1/2 w-full  focus:outline-none border bg-primary border-white rounded-[5px] text-white p-2  text-center font-medium text-sm md:text-lg;
      &::placeholder {
        @apply text-center text-white font-medium text-sm md:text-lg;
      }
    }
    textarea {
      @apply w-full text-left;
      &::placeholder {
        @apply text-left;
      }
    }
  }
}
hr {
  @apply border-white;
}
