@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  ::selection {
    @apply bg-white text-primary;
  }
  html {
    scroll-behavior: smooth;
    body {
      @apply bg-primary text-white;
      box-sizing: border-box;
      font-family: "Poppins", sans-serif;
    }
  }
}
@layer utilities {
  .container {
    @apply max-w-[1200px] mx-auto px-2;
  }
}
@layer components {
  .btn {
    @apply px-6 py-2 font-semibold text-lg  text-yellow border border-yellow rounded-[5px] hover:shadow-xl duration-300;
  }
  .title {
    @apply text-[30px] md:text-[40px] font-semibold uppercase text-red text-center;
  }
}
